@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Matemasie&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Giga:wght@100..900&family=Matemasie&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.userside{
    width: 280px;
    height: 100vh;
    border-right: solid 1px lightgray;
    padding: 15px;
    padding-top: 10px;
    font-family: "Nunito Sans", serif;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.head{
    width: 85%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    margin-bottom: 10px;
}
.head> h1{
    font-size: 22px;
    font-family: "Lexend Giga", "serif";
    color: rgb(135, 195, 248);
}

.usersideDiv{
    width: 98%;
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    padding-left: 45px;
    gap: 10px;
    align-items: center;
}
.link:hover{
    cursor: pointer;
    background-color: rgb(218, 236, 252);
    border-radius: 5px;
    color: #95929a;
    box-shadow: 0px 2px 3px 0px grey;
}